@model List<RoomModel>
@{
ViewBag.Title = "Комнаты";
}

<div class="container mt-5">
    <h2>Доступные комнаты</h2>
    <div class="row">
        @foreach (var room in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="room-card">
                    <div class="card shadow-sm">
                        <img src="/img/room1.jpeg" class="card-img-top" alt="@room.roomNumber" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@room.roomNumber</h5>
                            <p class="card-text">
                                <strong>Цена:</strong> @room.costPerNight.ToString("0.00") руб/ночь<br/>
                                <strong>Описание:</strong> @room.description<br/>
                                <strong>Количество гостей:</strong> @room.guestQuantity
                            </p>
                            <a asp-action="Booking"
                               asp-controller="Room"
                               asp-route-roomId="@room.id"
                               class="btn btn-primary">
                                Забронировать даты
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        }
    </div>
</div>




<style>
    .room-card {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    .room-card:hover {
        box-shadow: 0 4px 15px rgba(11, 94, 215, 0.5);
        transform: translateY(-2px);
    }
</style>